  .headerTitle {
    @apply font-bold text-2xl font-montserrat text-center text-black pb-3;
  }

  .sectionTitle {
    @apply font-semibold text-xl font-montserrat text-center text-black py-2;
  }

  .subTitle {
    @apply font-semibold text-base font-montserrat text-center text-black pt-3;
  }

  .labelText {
    @apply font-montserrat text-xs text-black whitespace-nowrap w-20;
  }

  .rangeBottomText {
    @apply -mt-2 flex justify-end text-xs
  }

  .sectionContainer {
    @apply rounded-xl p-3 space-y-2;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
  }

  .marketTabButton {
    @apply rounded-full bg-transparent border hover:bg-sfra-blue-100/10 hover:border-sfra-blue-100/50;
    height: 32px !important;
    color: black;
  }

  .drillDownSelect {
    @apply h-8 w-[300px] rounded-md border border-[#DEDEDC] px-2 text-ms font-normal text-[#ACABA8] outline-none;
  }